In [3]:
import os
import json
import pandas as pd
import numpy as np

In [4]:
dir_file = "C:\\Users\\bethz\\OneDrive\\Desktop\\School SMU seperate file\\Project 3\\try try again"
name_file = 'crime_gender_age_race_ethnicity.csv'
print(dir_file, name_file)

C:\Users\bethz\OneDrive\Desktop\School SMU seperate file\Project 3\try try again crime_gender_age_race_ethnicity.csv

In [5]:
os.chdir(dir_file) 
os.getcwd()

'C:\\Users\\bethz\\OneDrive\\Desktop\\School SMU seperate file\\Project 3\\try try again'

In [6]:
df = pd.read_csv(name_file)
df.columns.values

array(['flare', 'Types', 'Colour Code', 'Type', 'value', 'Unnamed: 5',
       'Unnamed: 6'], dtype=object)

In [7]:
df

,flare,Types,Colour Code,Type,value,Unnamed: 5,Unnamed: 6
0,crime_gender,Gender,1,Male,76638,NaN,
1,crime_gender,Gender,1,Female,17948,NaN,NaN
2,crime_gender,Gender,1,Unknown,92,NaN,NaN
3,crime age range,Age Range,2,18-19,3148,NaN,NaN
4,crime age range,Age Range,2,20-29,32988,NaN,NaN
5,crime age range,Age Range,2,30-39,27239,NaN,NaN
6,crime age range,Age Range,2,40-49,16074,NaN,NaN
7,crime age range,Age Range,2,50-59,11332,NaN,NaN
8,crime age range,Age Range,2,60-69,3444,NaN,NaN
9,crime age range,Age Range,2,70-79,377,NaN,NaN
10,crime age range,Age Range,2,80-89,71,NaN,NaN
11,crime age range,Age Range,2,90-99,5,NaN,NaN
12,crime_race,race,3,Black,41244,NaN,NaN
13,crime_race,race,3,Hispanic or Latino,28962,NaN,NaN
14,crime_race,race,3,White,22883,NaN,NaN
15,crime_race,race,3,Asian,755,NaN,NaN
16,crime_race,race,3,Middle Eastern,472,NaN,NaN
17,crime_race,race,3,American Indian or Alaska Native,212,NaN,NaN
18,crime_race,race,3,Native Hawaiian/Pacific Islander,102,NaN,NaN
19,crime_race,race,3,Unknown,44,NaN,NaN
20,crime_race,race,3,NH,3,NaN,NaN
21,crime_race,race,3,H,1,NaN,NaN
22,crime ethnicity,Ethnicity,4,Non-Hispanic or Latino,82184,NaN,NaN
23,crime ethnicity,Ethnicity,4,Hispanic or Latino,12227,NaN,NaN
24,crime ethnicity,Ethnicity,4,Unknown,267,NaN,NaN

In [10]:
df.drop(['Unnamed: 5','Unnamed: 6'], axis = 1)

,flare,Types,Colour Code,Type,value
0,crime_gender,Gender,1,Male,76638
1,crime_gender,Gender,1,Female,17948
2,crime_gender,Gender,1,Unknown,92
3,crime age range,Age Range,2,18-19,3148
4,crime age range,Age Range,2,20-29,32988
5,crime age range,Age Range,2,30-39,27239
6,crime age range,Age Range,2,40-49,16074
7,crime age range,Age Range,2,50-59,11332
8,crime age range,Age Range,2,60-69,3444
9,crime age range,Age Range,2,70-79,377
10,crime age range,Age Range,2,80-89,71
11,crime age range,Age Range,2,90-99,5
12,crime_race,race,3,Black,41244
13,crime_race,race,3,Hispanic or Latino,28962
14,crime_race,race,3,White,22883
15,crime_race,race,3,Asian,755
16,crime_race,race,3,Middle Eastern,472
17,crime_race,race,3,American Indian or Alaska Native,212
18,crime_race,race,3,Native Hawaiian/Pacific Islander,102
19,crime_race,race,3,Unknown,44
20,crime_race,race,3,NH,3
21,crime_race,race,3,H,1
22,crime ethnicity,Ethnicity,4,Non-Hispanic or Latino,82184
23,crime ethnicity,Ethnicity,4,Hispanic or Latino,12227
24,crime ethnicity,Ethnicity,4,Unknown,267

In [16]:
nest = dict()
nest = {'name':'flare','data':[]}

for line in df.values:
    flare = line[0]
    Types = line[1]
    Colour_Code	 = line[2]
    Type = line[3]
    value = line[4]
    
    flare_list = []
    for item in nest['data']:
        flare_list.append(item['flare'])
    
    if not flare in flare_list:
        nest['data'].append({
            'flare':flare,
            'data':[{
                'name':Types,
                'colour':Colour_Code,
                'data':[{
                    'name':Type,'value':value
                }]
            }]
        })
        
    else:
        nest['data'][flare_list.index(flare)]['data'].append({
            'flare':flare,
            'data':[{
                'name':Types,
                'colour':Colour_Code,
                'data':[{
                    'name':Type,'value':value
                }]
            }]
        })

In [17]:
nest

{'name': 'flare',
 'data': [{'flare': 'crime_gender',
   'data': [{'name': 'Gender',
     'colour': 1,
     'data': [{'name': 'Male', 'value': 76638}]},
    {'flare': 'crime_gender',
     'data': [{'name': 'Gender',
       'colour': 1,
       'data': [{'name': 'Female ', 'value': 17948}]}]},
    {'flare': 'crime_gender',
     'data': [{'name': 'Gender',
       'colour': 1,
       'data': [{'name': 'Unknown', 'value': 92}]}]}]},
  {'flare': 'crime age range',
   'data': [{'name': 'Age Range',
     'colour': 2,
     'data': [{'name': '18-19', 'value': 3148}]},
    {'flare': 'crime age range',
     'data': [{'name': 'Age Range',
       'colour': 2,
       'data': [{'name': '20-29', 'value': 32988}]}]},
    {'flare': 'crime age range',
     'data': [{'name': 'Age Range',
       'colour': 2,
       'data': [{'name': '30-39', 'value': 27239}]}]},
    {'flare': 'crime age range',
     'data': [{'name': 'Age Range',
       'colour': 2,
       'data': [{'name': '40-49', 'value': 16074}]}]},
    {'flare': 'crime age range',
     'data': [{'name': 'Age Range',
       'colour': 2,
       'data': [{'name': '50-59', 'value': 11332}]}]},
    {'flare': 'crime age range',
     'data': [{'name': 'Age Range',
       'colour': 2,
       'data': [{'name': '60-69', 'value': 3444}]}]},
    {'flare': 'crime age range',
     'data': [{'name': 'Age Range',
       'colour': 2,
       'data': [{'name': '70-79', 'value': 377}]}]},
    {'flare': 'crime age range',
     'data': [{'name': 'Age Range',
       'colour': 2,
       'data': [{'name': '80-89', 'value': 71}]}]},
    {'flare': 'crime age range',
     'data': [{'name': 'Age Range',
       'colour': 2,
       'data': [{'name': '90-99', 'value': 5}]}]}]},
  {'flare': 'crime_race',
   'data': [{'name': 'race',
     'colour': 3,
     'data': [{'name': 'Black', 'value': 41244}]},
    {'flare': 'crime_race',
     'data': [{'name': 'race',
       'colour': 3,
       'data': [{'name': 'Hispanic or Latino', 'value': 28962}]}]},
    {'flare': 'crime_race',
     'data': [{'name': 'race',
       'colour': 3,
       'data': [{'name': 'White', 'value': 22883}]}]},
    {'flare': 'crime_race',
     'data': [{'name': 'race',
       'colour': 3,
       'data': [{'name': 'Asian', 'value': 755}]}]},
    {'flare': 'crime_race',
     'data': [{'name': 'race',
       'colour': 3,
       'data': [{'name': 'Middle Eastern', 'value': 472}]}]},
    {'flare': 'crime_race',
     'data': [{'name': 'race',
       'colour': 3,
       'data': [{'name': 'American Indian or Alaska Native', 'value': 212}]}]},
    {'flare': 'crime_race',
     'data': [{'name': 'race',
       'colour': 3,
       'data': [{'name': 'Native Hawaiian/Pacific Islander', 'value': 102}]}]},
    {'flare': 'crime_race',
     'data': [{'name': 'race',
       'colour': 3,
       'data': [{'name': 'Unknown', 'value': 44}]}]},
    {'flare': 'crime_race',
     'data': [{'name': 'race',
       'colour': 3,
       'data': [{'name': 'NH', 'value': 3}]}]},
    {'flare': 'crime_race',
     'data': [{'name': 'race',
       'colour': 3,
       'data': [{'name': 'H', 'value': 1}]}]}]},
  {'flare': 'crime ethnicity ',
   'data': [{'name': 'Ethnicity ',
     'colour': 4,
     'data': [{'name': 'Non-Hispanic or Latino', 'value': 82184}]},
    {'flare': 'crime ethnicity ',
     'data': [{'name': 'Ethnicity ',
       'colour': 4,
       'data': [{'name': 'Hispanic or Latino', 'value': 12227}]}]},
    {'flare': 'crime ethnicity ',
     'data': [{'name': 'Ethnicity ',
       'colour': 4,
       'data': [{'name': 'Unknown', 'value': 267}]}]}]}]}

In [19]:
df_m = df[['Types', 'Colour Code', 'Type', 'value']]

In [20]:
df_m

         Types  Colour Code                              Type  value
0       Gender            1                              Male  76638
1       Gender            1                           Female   17948
2       Gender            1                           Unknown     92
3    Age Range            2                             18-19   3148
4    Age Range            2                             20-29  32988
5    Age Range            2                             30-39  27239
6    Age Range            2                             40-49  16074
7    Age Range            2                             50-59  11332
8    Age Range            2                             60-69   3444
9    Age Range            2                             70-79    377
10   Age Range            2                             80-89     71
11   Age Range            2                             90-99      5
12        race            3                             Black  41244
13        race            3                Hispanic or Latino  28962
14        race            3                             White  22883
15        race            3                             Asian    755
16        race            3                    Middle Eastern    472
17        race            3  American Indian or Alaska Native    212
18        race            3  Native Hawaiian/Pacific Islander    102
19        race            3                           Unknown     44
20        race            3                                NH      3
21        race            3                                 H      1
22  Ethnicity             4            Non-Hispanic or Latino  82184
23  Ethnicity             4                Hispanic or Latino  12227
24  Ethnicity             4                           Unknown    267

In [21]:
flare13 = dict()
flare13 = {'flare':'flare','children':[]}

for line in df_m.values:
    Types = line[0]
    Colour_Code	 = line[1]
    Type = line[2]
    value = line[3]
    
    keys_list = []
    for item in flare13['children']:
        keys_list.append(item['name'])
    
    if not Types in keys_list:
        flare13['children'].append({
            'name':Types,
            'children':[{'name':Type,'value':value}]
        })
        
    else:
        flare13['children'][keys_list.index(Types)]['children'].append({
            'name':Type,
            'value':value
        })

In [24]:
def allflare(df, flare,filename):
    flare = dict()
    flare = {'flare':flare,'children':[]}
    
    for line in df.values:
        Types = line[0]
        Colour_Code = line[1]
        Type = line[2]
        value = line[3]
        
        keys_list=[]
        for item in flare['children']:
            keys_list.append(item['name'])
        if not Types in keys_list:
            flare['children'].append({
                'name':Types,
                'children':[{'name':Type,'value':value}]
            })
        else:
            flare['children'][keys_list.index(Types)]['children'].append({
                'name':Type,
                'value':value
            })
    #return flare
    with open(filename,'w') as outfile:
        json.dump(flare,outfile)

In [25]:
allflare(df_m,flare,'flarejsonall.json')